node_modules
dist
/front-end/src/components/settingsComponents/SettingsModal.tsx
/front-end/src/components/menuBarComponents/MenuModal.tsx
/src/components/Navigation.tsx
/front-end/src/components/SubModal.tsx
/src/components/settingsComponents/SwitchAccount.tsx
/src/components/VideoCard.tsx
