node_modules
dist
/front-end/src/components/settingsComponents/SettingsModal.tsx
/front-end/src/components/menuBarComponents/MenuModal.tsx
/frontend/src/components/navigationBarComponents/Navigation.tsx
/front-end/src/components/SubModal.tsx
/src/components/settingsComponents/SwitchAccount.tsx
/frontend/src/components/VideoComponents/VideoCard.tsx
/src/components/hooks/useYoutubeVideos.ts
/src/components/helpers/chunkArray.ts
/src/components/pages/Home.tsx
