@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

#nprogress .bar {
  background: red;
}

#nprogress .spinner{
  display: none !important;
}


@keyframes  ring-particles {
    0% {
        transform: var(--rotation) translateY(0) scale(0);
        opacity: 1;

    }

    100% {
        transform: var(--rotation) translateY(-40px) scale(1.5);
        opacity: 0;
    }

}

@keyframes fade-particles {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes particles-expand {
    0% {
        transform: var(--rotation) translateY(-4px);

    }
    100% {
        transform: var(--rotation) translateY(-12px);

    }
}


.animate-particles {
    animation:  particles-expand 0.5s ease-out forwards;
}

.fade-particles {
    animation: fade-particles 1s ease-out forwards;
}

.animate-ring-particles{
    animation: ring-particles 1s ease-out forwards;
}
